
<div ng-controller="AddController">
    <h3>Add an employee</h3>
        <form ng-submit="add()" class="add-form">
            <div class="form-group">
                <label>Code</label>
                <input class="form-control" ng-model="employee.eCode" type="text">
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" ng-model="employee.eName" type="text">
            </div>

            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="employee.gender  " placeholder="Select a gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
                
            <div class="form-group">
                <label>Address</label>
                <input class="form-control" ng-model="employee.address" type="text">
            </div>

            <button type="submit"class="btn btn-primary">Add</button>
</form>
</div>
