<div ng-controller="ListController">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">eCode</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employeeList">
      <td>{{i}}</td>
      <td>{{employee.eCode}}</td>
      <td>{{employee.eName}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.status}}</td>
      <td>
          <button type="button" class="btn btn-primary">Edit</button> 
          <button ng-click="getDeleteEmployee(employee.eCode)" data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
 
  </tbody>
</table>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure want to delete
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
              <button type="button" ng-click="deleteEmployee()" class="btn btn-danger">Yes</button>
            </div>
          </div>
        </div>
      </div>